# Macros
# P  -  Record prefix, e.g. MTEST-BSREAD

record(waveform,"$(P):CHANNELS") {
	field(FTVL, "STRING")
	field(NELM, "10")
	field(FLNK, "$(P):CONFIGURE")
}

record(aSub,"$(P):CONFIGURE") {
	field(INAM,"bsreadConfigureInit")
	field(SNAM,"bsreadConfigure")
	field(FTA, "STRING")
	field(NOA, "10")
	field(INPA, "$(P):CHANNELS NPP NMS")
}
   
record(aSub,"$(P):READ") {
	field(INAM,"bsreadReadInit")
	field(SNAM,"bsreadRead")
}
