## Trigger record from EVR

record(event, "$(P):Trig-Event_") {
  field(DTYP, "EVR Event")
  field(SCAN, "I/O Intr")
  field(INP , "@OBJ=$(EVR),Code=$(BSREAD_EVENT)")
  field(VAL , "$(EVENT_NAME=bsread)")
  field(PRIO, "HIGH")
}
