# Macros
# P  -  Record prefix, e.g. MTEST-BSREAD

record(calcout, "$(P):SIM-PULSE")
{
	field(DESC, "Pulse id counter")
	field(SCAN,".01 second")
	field(CALC, "A+VAL+1")
	field(INPA, "0")
	field(EGU, "Counts")
        field(OEVT, "bsread")
}

record(ai, "$(P):SIM-TS-SEC"){
	field(DTYP, "Soft Timestamp")
	field(SCAN,".1 second")
}

record(calc, "$(P):SIM-TS-NSEC")
